body{
	height:100%;
  text-align: center;
  background: #f2f2f2;
  /*font-family: sans-serif;*/
  font-weight: 100;
}

h1{
	font-size: 500%;
	font-family: 'Amatic SC', cursive;
	margin-top: 10%;
	margin-bottom: 1%;
}

h2{
	font-size: 300%;
	font-weight:bold;
	font-family: 'Bellefair', serif;
	margin-bottom: -1%;
}

p{
	font-family: 'Bellefair', serif;
	margin: 1%;
	padding:1%;
	text-align: center;
}

svg {
  width: 100%;
  margin-bottom:13%;
  text-align: center;
}

.heart{
  fill: #800000;
  position: relative;
  /*top: 50%;*/
  width: 20%;
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite, 
}

@keyframes "pulse" {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-moz-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-webkit-keyframes "pulse" {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.parallax {
  background-image: url("omam.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
	height: 100%;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10, .bg-11, .bg-12, .bg-13, .bg-14, .bg-15, .bg-16, .bg-17, .bg-18, .bg-19, .bg-20, .bg-21, .bg-22{
  position: relative;
  height: 800px;
  opacity: 0.90;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-2 {
  background-image: url("beyonceitem2.jpeg");
}

.bg-3 {
  background-image: url("omam1.jpg");
}

.bg-4 {
  background-image: url("banks2.jpg");
}

.bg-5 {
  background-image: url("thelummies.jpg");
}

.bg-6 {
  background-image: url("rr.jpg");
}

.bg-7 {
  background-image: url("daughter.jpg");
}

.bg-8 {
  background-image: url("boniver.jpg");
}

.bg-9 {
  background-image: url("got.jpg");
}

.bg-10 {
  background-image: url("mrrobot.jpg");
}

.bg-11 {
  background-image: url("jesse2.jpg");
}

.bg-12 {
  background-image: url("brooke2.jpg");
}

.bg-13 {
  background-image: url("quinn2.jpg");
}

.bg-14 {
  background-image: url("frary2.jpg");
}

.bg-15 {
  background-image: url("ryanmarissa2.jpg");
}

.bg-17 {
  background-image: url("rogan2.jpg");
}

.bg-18 {
  background-image: url("inmooodforlove3.jpg");
}

.bg-19 {
  background-image: url("500dos.png");
}

.bg-20 {
  background-image: url("fightclub.jpg");
}

.bg-21 {
  background-image: url("lalaland.jpg");
}

.bg-22 {
  background-image: url("guac.jpg");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 18px;
  font-size: 45px;
  letter-spacing: 10px;
}


.item{
	opacity: 90%;
	height:650px;
}

.itempics{
	max-height:500px;
	position: relative;
	float: left;
}

.home{
	height:100%;
}